@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: "Avenir Next", Avenir, "Segoe UI", sans-serif;
  background-color: #f8fafc;
}
